.navbarMobile {
  transform: translateX(-100%);
  opacity: 0;
  transition: all linear 0.2s;

  &.show {
    transform: translateX(0%);
    opacity: 1;
  }

  &.next {
    .navbarItem {
      animation: showNext linear 0.2s forwards;
    }
  }

  &.prev {
    .navbarItem {
      animation: showPrev linear 0.2s forwards;
    }
  }

  @keyframes showNext {
    from {
      transform: translateX(100px);
      opacity: 0;
    }
    to {
      transform: translate(0px);
      opacity: 1;
    }
  }

  @keyframes showPrev {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translate(0px);
      opacity: 1;
    }
  }
}

.navbarLayoutClose {
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.2s;

  &.show {
    opacity: 1;
    pointer-events: inherit;
  }
}

.navbarItem:hover .navbarMega {
  top: 100%;
  opacity: 1;
  pointer-events: inherit;
}

.navbarMega {
  top: 120%;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.2s;
}

.navbarMega::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  height: 40px;
  background-color: transparent;
}

.navbarScroll {
  animation: scrollMenu linear 0.3s forwards;

  @keyframes scrollMenu{
    from {
      opacity: 0;
      top: -100px;
    } to {
      opacity: 1;
      top: 0px;
    }
  }
}

.modalCart {
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.2s;

  &.show {
    opacity: 1;
    pointer-events: inherit;

    .modalCartContent {
      right: 0%;
    }

    .modalCartLayout {
      opacity: 1;
      pointer-events: inherit;
    }
  }

  .modalCartContent {
    right: -50%;
    transition: all linear 0.3s;
  }

  .modalCartLayout {
    opacity: 0;
    pointer-events: none;
    transition: all linear 0.2s;
  }
}
